@model IEnumerable<Dev.IO.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1 class="mt-5">@ViewData["Title"] <a class="btn btn-info float-right" asp-action="Create">Novo Produto</a></h1>

<hr />
<vc:summary></vc:summary>
<partial name="_ListaProdutos"/>